<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default-dark.css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div id="app">


    <div class="top" >
      <h1 style=" text-align: center; margin-top:13vh; margin-bottom:5vh;">Settings</h1>
    </div>
    <div class="center switch-dialog">
      <span style="display: inline-block ;padding-right:2vw;">User </span>
      <md-switch id="switchsetp"  v-model="boolean" style="display: inline-block;"></md-switch>
      <span style="display: inline-block;">Provider </span>
    </div>
    <div id="plans" class=" box" style="width: 80vw; margin:auto;">

      <md-list>
        <md-list-item class="planopt">
           <md-icon>edit</md-icon>
            <span to="/purchase.html" class="md-list-item-text settingsitems">Edit details</span>
        </md-list-item>

        <md-list-item class="planopt">
           <md-icon>money</md-icon>
            <span class="md-list-item-text settingsitems">Change price of my service</span>
        </md-list-item>

        <md-list-item class="planopt">
           <md-icon>add</md-icon>
            <span class="md-list-item-text settingsitems">Add device</span>
        </md-list-item>

        <md-list-item class="planopt">
           <md-icon>attach_money</md-icon>
            <span class="md-list-item-text settingsitems">Cash in Ammbr Tokens</span>
        </md-list-item>

        <md-list-item class="planopt">
           <md-icon>help</md-icon>
            <span class="md-list-item-text settingsitems">Help</span>
        </md-list-item>
      </md-list>
      <!-- <md-radio v-model="radio" value="Primary" class="md-primary center" style="width: 100%; display: flex;">100 MB<br><small>(Approximately 1 hour of internet access)</small></md-radio>
      <md-radio v-model="radio" value="Primary" class="md-primary center" style="width: 100%; display: flex;">200 MB<br><small>(Approximately 2 hours of internet access)</small></md-radio>
      <md-radio v-model="radio" value="Primary" class="md-primary center" style="width: 100%; display: flex;">500 MB<br><small>(Approximately 5 hours of internet access)</small></md-radio>
      <md-radio v-model="radio" value="Primary" class="md-primary center" style="width: 100%; display: flex;">750 MB<br><small>(Approximately 7 hours of internet access)</small></md-radio> -->

    </div>

    <div id="bar" class="phone-viewport">
      <md-bottom-bar md-sync-route>
        <md-bottom-bar-item to="/components/bottom-bar/home" md-label="OVERVIEW" md-icon="dashboard"></md-bottom-bar-item>
        <md-bottom-bar-item to="/components/bottom-bar/posts" md-label="EARNINGS" md-icon="monetization_on"></md-bottom-bar-item>
        <md-bottom-bar-item to="/components/bottom-bar/favorites" md-label="NETWORK" md-icon="share"></md-bottom-bar-item>
        <md-bottom-bar-item to="/components/bottom-bar/favorites" md-label="SETTINGS" md-icon="settings" class="md-active"></md-bottom-bar-item>
      </md-bottom-bar>
    </div>

  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-material@beta"></script>
  <script type="text/javascript" src="./scriptSP.js"></script>
</body>
</html>
