<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default-dark.css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div id="app">
    <div class="top" >
      <md-avatar style="margin-top: 8vh; margin-bottom: 3vh; display: flex; justify-content: center;" id="avatar"  class="md-large">
        <img  src="./files/logo.jpg" alt="Avatar">
      </md-avatar>
      <h1 style=" text-align: center;">Welcome to Ammbr</h1>
    </div>
    <span class="expl">Sign in to purchase internet access</span>
    <div class="login">
      <div id="form">
        <md-field>
          <label>Username</label>
          <md-input v-model="name"></md-input>
        </md-field>

        <md-field>
          <label>Password</label>
          <md-input v-model="password"></md-input>
          <span class="md-helper-text" >Forgot password</span>
        </md-field>
      </div>

      <div  id="buttons" class="center">
        <md-button  class="md-primary md-raised " > Sign up  </md-button>

        <md-button  class="md-accent md-raised " > Log in </md-button>
      </div>
    </div>

<!-- //FLEX-WRAP -->
    <div>
      <span class="expl" style= "padding-bottom:3vh;">Or browse through these free services</span>
      <div class="md-layout">
        <div class="md-layout-item">
          <md-card id="services" class="card">
            <md-card-area>
              <md-card-media>
                <img src="/assets/examples/card-image-1.jpg" alt="image">
              </md-card-media>

              <md-card-header>
                <div class="md-title">Actions left aligned</div>
                <div class="md-subhead">Subtitle here</div>
              </md-card-header>

              <md-card-content>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint. Excepturi.
              </md-card-content>
            </md-card-area>

            <md-card-actions md-alignment="left">
              <md-button>Action</md-button>
              <md-button>Action</md-button>
            </md-card-actions>
          </md-card>
        </div>

        <div class="md-layout-item">
          <md-card id="services2"  class="card">
            <md-card-area>
              <md-card-media>
                <img src="/assets/examples/card-image-1.jpg" alt="image">
              </md-card-media>

              <md-card-header>
                <div class="md-title">Actions left aligned</div>
                <div class="md-subhead">Subtitle here</div>
              </md-card-header>

              <md-card-content>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint. Excepturi.
              </md-card-content>
            </md-card-area>

            <md-card-actions md-alignment="left">
              <md-button>Action</md-button>
              <md-button>Action</md-button>
            </md-card-actions>
          </md-card>

        </div>

        <div class="md-layout-item">
          <md-card id="services" class="card" >
            <md-card-area>
              <md-card-media>
                <img src="/assets/examples/card-image-1.jpg" alt="image">
              </md-card-media>

              <md-card-header>
                <div class="md-title">Actions left aligned</div>
                <div class="md-subhead">Subtitle here</div>
              </md-card-header>

              <md-card-content>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non, voluptas eius illo quas, saepe voluptate pariatur in deleniti minus sint. Excepturi.
              </md-card-content>
            </md-card-area>

            <md-card-actions md-alignment="left">
              <md-button>Action</md-button>
              <md-button>Action</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script type="text/javascript" src="./script.js"></script>
  </body>
  </html>
